/********************************************************
************* START GLOBAL *******************************
****************************************************************/
* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  text-decoration: none;
  list-style-type: none;
  resize: none;
}

html, body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Montserrat", Roboto, Oxygen, "Open Sans", "Helvetica Neue", sans-serif;
}

.icon {
  margin-right: 0.2rem;
  color: #ff153b;
}

[class*=col-] {
  flex-basis: auto;
}

.auth-action {
  text-align: left;
  padding: 0.7rem 1rem;
}

.col-1 {
  width: 8.33%;
  padding: 0.4rem;
}

.col-2 {
  width: 16.66%;
  padding: 0.4rem;
}

.col-3 {
  width: 24.99%;
  padding: 0.4rem;
}

.col-4 {
  width: 33.32%;
  padding: 0.4rem;
}

.col-5 {
  width: 41.65%;
  padding: 0.4rem;
}

.col-6 {
  width: 49.98%;
  padding: 0.4rem;
}

.col-7 {
  width: 58.31%;
  padding: 0.4rem;
}

.form {
  display: block;
}
.form .form-group {
  display: block;
  width: 100%;
  padding: 0.5rem;
}
.form .form-group label {
  display: block;
  padding: 0.25rem 0rem;
}
.form .form-group .form-control {
  display: block;
  width: 100%;
  outline: 0;
  border: 0;
  padding: 0.5rem 0.75rem;
  box-shadow: 0px 0px 1px 1px #ff153b;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 2.1;
}
.form .form-group textarea {
  resize: none;
}
.form .form-group input[type=text] {
  padding: 0.3rem 0.5rem;
}

.title, .section-heading .section-title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #ff153b;
}

.sub-title, .section-heading .sub-title {
  line-height: 1.5;
  font-size: 0.8rem;
  text-align: left;
}

.section-heading {
  display: block;
  margin: auto;
  padding: 1rem 0rem;
  text-align: center;
}
.section-heading .sub-title {
  text-align: center;
}

.container {
  display: block;
  width: 80%;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.alert-close {
  float: right;
}
.alert-close::after {
  display: block;
  content: "";
  clear: both;
}

.alert {
  padding: 0.75rem;
  margin: 1rem auto;
  display: block;
  text-align: left;
}
.alert-dark {
  background-color: #555;
  color: #fff;
}
.alert-primary {
  background-color: #ff153b;
  color: #fff;
}
.alert-light {
  background-color: #fff1f1;
  color: #333;
}
.alert-success {
  background-color: #28a745;
  color: #fff;
}
.alert-danger {
  background-color: #dc3545;
  color: #fff;
}

.badge {
  display: inline;
  font-size: 0.75rem;
  padding: 1px;
  border-radius: 30%;
  color: #fff1f1;
  background-color: #ff153b;
}

.btn {
  padding: 0.8rem 1.2rem;
  text-align: center;
  border: none;
  outline: none;
  transition: all 0.4s;
}
.btn-primary {
  background-color: #ff153b;
  color: #fff1f1;
}
.btn-reverse {
  background-color: #fff1f1;
  color: #ff153b;
}
.btn:hover {
  opacity: 0.8;
}

.grid-wrapper::-webkit-scrollbar {
  width: 100%;
  height: 1rem;
}

.grid-wrapper::-webkit-scrollbar-track {
  background-color: #fff1f1;
  border-radius: 0.6rem;
}

.grid-wrapper::-webkit-scrollbar-thumb {
  background-color: #ff153b;
  border: 1px solid #555;
  border-radius: 0.6rem;
  height: 0.125rem;
}

.grid-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 560px) {
  .grid-wrapper {
    display: block;
    overflow: auto;
    white-space: nowrap;
    background-color: #fff1f1;
  }
  .grid-wrapper [class*=col-] {
    display: inline-block;
    width: 60%;
  }
}

/********************************************************
************* START NAVBAR *******************************
****************************************************************/
.navbar {
  display: block;
  padding: 0rem 2rem;
  line-height: 4rem;
  background-color: #fff1f1;
}

.logo-icon {
  width: 2rem;
  height: 2rem;
  text-align: center;
  background-color: transparent;
  color: #ff153b;
}

.logo-name {
  font-size: 2rem;
  font-weight: 600;
  color: #ff153b;
}

@media screen and (max-width: 560px) {
  .navlinks {
    display: none;
  }
}
.navlinks .navlink {
  padding: 0rem 0.75rem;
  color: #ff153b;
  font-size: 1rem;
  transition: color 0.5s ease-in;
}
.navlinks .navlink:hover {
  color: #ff153b;
  border-bottom: 3px solid #ff153b;
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.hamburger {
  display: none;
  color: #ff153b;
  line-height: inherit;
}
@media screen and (max-width: 560px) {
  .hamburger {
    display: inline-block;
  }
}

#navlink-control {
  display: none;
  user-select: none;
}
#navlink-control:checked ~ .navbar-wrapper .hamburger {
  flex-basis: 35%;
  text-align: right;
}
#navlink-control:checked ~ .navbar-wrapper .navlinks {
  display: block;
  width: 100%;
}
#navlink-control:checked ~ .navbar-wrapper .navlinks .navlink {
  display: block;
}

/********************************************************
*************STOP NAVBAR *******************************
****************************************************************/
/********************************************************
*************START BANNER *******************************
****************************************************************/
.page-header {
  background-color: #ff153b;
  padding: 3rem 0rem;
  width: 100%;
  display: block;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  column-gap: 0.8rem;
}
@media screen and (max-width: 560px) {
  .banner {
    display: block;
  }
}

.banner-caption {
  width: 50%;
  color: #fff1f1;
}
.banner-caption p {
  font-size: 0.8rem;
  color: #fff1f1;
}
@media screen and (max-width: 560px) {
  .banner-caption {
    display: block;
    width: 100%;
  }
}

.banner-hero {
  color: #fff1f1;
  background-color: #ff153b;
  opacity: 0.4;
  background-image: url(https://picsum.photos/450/900);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}
.banner-hero h1 {
  z-index: 10;
  font-size: 3rem;
  color: #fff1f1;
  text-align: center;
  border: 5px solid #673ab7;
}
@media screen and (max-width: 560px) {
  .banner-hero {
    background-size: cover;
    height: 16rem;
  }
}

.banner-cta {
  margin-top: 2rem;
  line-height: 2.5;
  display: block;
  width: 100%;
}
.banner-cta a:first-of-type {
  border: 1px solid #fff1f1;
  margin-right: 1.5rem;
}
@media screen and (max-width: 560px) {
  .banner-cta a {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}

/*****************
*************STOP BANNER *******************************
****************************************************************/
/********************************************************
************* START PRODUCT CARD *******************************
****************************************************************/
.card-cta, .product-card .product-card-cta .add-cart-cta, .product-card .product-card-cta .buy-now-cta {
  width: 100%;
  padding: 0.75rem 0rem;
  font-size: 1.25rem;
  text-align: center;
}
.card-cta:hover, .product-card .product-card-cta .add-cart-cta:hover, .product-card .product-card-cta .buy-now-cta:hover {
  opacity: 0.8;
}

.product-card {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: #fff1f1;
  color: #555;
  transition: transform 0.5s ease;
}
.product-card:hover {
  transform: translateY(0.25rem);
}
.product-card .product-card-image {
  text-align: center;
  width: 100%;
  max-height: 8.7rem;
  display: block;
}
.product-card .product-title {
  display: block;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 400;
}
.product-card .product-card-rating {
  display: block;
  margin: auto;
  text-align: left;
  padding: 0.25rem 0rem;
}
.product-card .product-card-cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}
.product-card .product-card-cta .buy-now-cta {
  background-color: #ff153b;
  color: #fff1f1;
}
.product-card .product-card-cta .add-cart-cta {
  background-color: #555;
  color: #fff1f1;
}

/********************************************************
************* START PRODUCT CARD*******************************
****************************************************************/
table.table.cart-table {
  display: block;
  width: 100%;
  border-collapse: collapse;
}
table.table.cart-table tr {
  vertical-align: middle;
}
table.table.cart-table th, table.table.cart-table td {
  height: 1.2rem;
  padding: 1rem;
}

/********************************************************
************* START LOGIN *******************************
****************************************************************/
#signup-form, #login-form {
  width: 80%;
}

#signup-btn, #login-btn {
  padding: 1rem 1.75rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1.75rem;
}

/********************************************************
************* STOP LOGIN *******************************
****************************************************************/
/********************************************************
************* STOP CART *******************************
****************************************************************/
.cart-order-form {
  float: right;
}

.cart-order-btn {
  padding: 1rem 1.5rem;
  background-color: #ff153b;
  color: #fff1f1;
  font-size: 1.1rem;
  font-weight: bolder;
  text-align: center;
  border-radius: 5px;
}

.modal.show {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  background-color: #555;
  z-index: 99;
  overflow: scroll;
}

.modal-close {
  float: right;
  background-color: #ff153b;
  color: #fff1f1;
  font-weight: 700;
  padding: 0.25rem;
  cursor: pointer;
}

.modal-close::after {
  display: block;
  content: "";
  clear: both;
}

.modal-container {
  width: 85%;
  display: block;
  margin: 5rem auto;
  background-color: #fff1f1;
  color: #555;
  padding: 1.25rem;
}

.modal-header {
  padding: 1rem 0.5rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
  border-bottom: 1px solid #555;
  box-shadow: 0px 2px 3px #ff153b;
}

.modal-body {
  margin: 1rem auto;
  text-align: left;
  font-size: 1rem;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.auth-container {
  display: block;
  width: 100%;
  text-align: left;
  background-color: #fff1f1;
  color: #555;
}

#auth-sidebar-control {
  display: none;
}

#auth-sidebar-control:checked ~ .auth-sidebar {
  left: 0rem;
}

#auth-sidebar-control:checked ~ .auth-sidebar-handle {
  opacity: 0;
  user-select: none;
}

.auth-sidebar-handle {
  position: absolute;
  top: 3.5rem;
  left: 2rem;
  cursor: pointer;
}

#auth-sidebar-control:checked ~ .auth-main {
  margin-left: 13rem;
}

#auth-sidebar-control:checked ~ .auth-main .auth-navbar {
  margin-left: 0rem;
  padding-left: 0.25rem;
}

.auth-sidebar {
  position: fixed;
  left: -13rem;
  top: 0rem;
  height: 100%;
  width: 13rem;
  background-color: #ff153b;
  color: #fff1f1;
  transition: left 0.6s ease-in-out;
}

.auth-sidebar-close {
  position: absolute;
  top: 0rem;
  right: 0rem;
  padding: 0.2rem;
  width: 1.02rem;
  height: 1.02rem;
  cursor: pointer;
}

.sidebar-header {
  line-height: 4rem;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: #ff153b;
  color: #fff1f1;
  text-align: center;
}
.sidebar-header a {
  color: #fff1f1;
}

.sidebar-name {
  font-size: 1.75rem;
}

.auth-sidebar .sidebar-actions {
  margin-top: 1.75rem;
}

.auth-sidebar .sidebar-actions li {
  text-align: center;
  margin: auto;
  display: block;
  width: 100%;
  transition: padding 0.8s ease-in;
}

.auth-sidebar .sidebar-actions li:hover {
  padding-left: 2.5rem;
}

.auth-sidebar .sidebar-actions li .auth-sidebar-link {
  line-height: 1.8rem;
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  text-align: left;
  padding: 0.5rem 0rem 0.5rem 1.25rem;
  border-bottom: 1px solid #555;
  border-top: 1px solid #ff153b;
  color: #fff1f1;
  text-decoration: none;
  cursor: pointer;
}

.auth-sidebar .sidebar-actions li .auth-sidebar-link .fa {
  margin-right: 0.5rem;
  text-align: left;
}

.auth-main {
  margin: 0rem;
  transition: margin 0.6s ease-in-out;
}

.auth-navbar {
  margin-left: 4rem;
  line-height: 4rem;
  transition: margin 0.6s ease-in-out;
}

.auth-wrapper {
  width: 85%;
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 1.5rem;
  overflow-x: auto;
}

.editable {
  background-color: #ff153b;
  color: #fff1f1;
}

.table {
  width: 100%;
}

thead {
  font-weight: bolder;
}

th {
  background-color: #ff153b;
  color: #fff1f1;
}

tr:hover {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #CCC;
}

th {
  height: 2.5rem;
  text-align: left;
}

td {
  vertical-align: middle;
}

th, td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1ps solid #ddd;
}

/*# sourceMappingURL=main.css.map */
