
/********************************************************
************* START GLOBAL *******************************
****************************************************************/
*{
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  text-decoration: none;
  list-style-type: none;
  resize: none;
}
html, body{
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Montserrat', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
}


$primary-color: #ff153b;
$light-color: #fff1f1;
$success-color: #28a745;
$danger-color: #dc3545;
$dark-color: #555;
$mobile-breakpoint: 560px;
$tablet-breakpoint: 560px;
$auth-sidebar-width: 13rem;
$auth-sidebar-width-alt: -13rem ; //* $auth-sidebar-width;

.icon{
  margin-right: .2rem;
  color: $primary-color;
}
[class *= 'col-']{
  flex-basis: auto;
}

.auth-action{
  text-align: left;
  padding: .7rem 1rem;
}

$sizes: (1, 2, 3, 4, 5, 6, 7);
$unit: 8.33%;
@each $size in $sizes {
  .col-#{$size}{
    width: #{$size * $unit} ;
    padding: .4rem;
  }
}
// Set text color based on background color
@function set-text-color($bg-color){
  @if (lightness($bg-color) > 55) {
    @return #333;
  } @else {
    @return #fff;
  }
}
@mixin set-background-color($color){
  background-color: $color;
  color: set-text-color($color);
}

.form{
  display: block;
  .form-group{
    display: block;
    width: 100%;
    padding: .5rem;

    label{
      display: block;
      padding: .25rem 0rem;
    }

    .form-control{
      display: block;
      width: 100%;
      outline: 0;
      border: 0;
      padding: .5rem .75rem;
      box-shadow: 0px 0px 1px 1px $primary-color;
      border-radius: .2rem;
      font-size: 1.1rem;
      letter-spacing: 1px;
      line-height: 2.1;
      
    }

    textarea{
      resize: none;
    }
    input[type="text"]{
      padding: .3rem .5rem;
      
    }
  }
}

.title{
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: .5rem;
  color: $primary-color;
}
.sub-title{
  line-height: 1.5;
    font-size: .8rem;
    text-align: left;
}

.section-heading{
  display: block;
  margin: auto;
  padding: 1rem 0rem;
  text-align: center;
  .section-title{
    @extend .title;
  }
  .sub-title{
    @extend .sub-title;
    text-align: center;
  }
}

.container{
  display: block;
  width: 80%;
  margin: auto;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

// Alerts
.alert-close{
  float: right;
  &::after{
    display: block;
    content: "";
    clear: both;
  }
}
.alert{
  padding: .75rem;
  margin: 1rem auto;
  display: block;
  text-align: left;
  &-dark{
    @include set-background-color($dark-color)
  }

  &-primary{
    @include set-background-color($primary-color)
  }
  &-light{
    @include set-background-color($light-color)
  }
  &-success{
    @include set-background-color($success-color)
  }

  &-danger{
    @include set-background-color($danger-color)
  }
}


.badge{
  display: inline;
  font-size: .75rem;
  padding: 1px;
  border-radius: 30%;
  color: $light-color;
  background-color: $primary-color;
}


.btn{
  padding: .8rem 1.2rem;
  text-align: center;
  border: none;
  outline: none;
  transition: all 0.4s;
  &-primary{
    background-color: $primary-color;
    color: $light-color;
  }
  &-reverse{
    background-color: $light-color;
    color: $primary-color;
  }
  &:hover{
    opacity: .8;
  }
}


// Over write default scroll bar
    .grid-wrapper::-webkit-scrollbar{
      width: 100%;
      height: 1rem;
    }
    .grid-wrapper::-webkit-scrollbar-track{
      background-color: $light-color;
      border-radius: .6rem;
    }

    .grid-wrapper::-webkit-scrollbar-thumb{
      background-color: $primary-color;
      border: 1px solid $dark-color;
      border-radius: .6rem;
      height: .125rem;
    }
.grid-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;

  @media screen and (max-width: $mobile-breakpoint){
    display: block;
    overflow: auto;
    white-space: nowrap;
    background-color: $light-color;
    
    [class *= 'col-']{
      display: inline-block;
      // float: left;
      width: 60%;
    }
    
  }
}




/********************************************************
************* START NAVBAR *******************************
****************************************************************/
// Navbar

.navbar{
  display: block;
  padding: 0rem 2rem;
  line-height: 4rem;
  background-color: $light-color;
  // overflow: no;
}

.logo-icon{
  width: 2rem;
  height: 2rem;
  text-align: center;
  background-color: transparent;
  color: $primary-color;

}
.logo-name{
  font-size: 2rem;
  font-weight: 600;
  color: $primary-color;

}
.navlinks {
  // Hide the navlink container on small screens
  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }

  .navlink{
    padding: 0rem .75rem;
    color: $primary-color;
    font-size: 1rem;
    transition: color .5s ease-in;

    &:hover{
      color: $primary-color;
      border-bottom: 3px solid $primary-color;
    }
  }
}
.navbar-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

// Hide the hamburger menu icon on large screens 
.hamburger{
  display: none;
  color: $primary-color;
  line-height: inherit;
  // Only show the hamburger on small screens
  @media screen and (max-width: $mobile-breakpoint){
    display: inline-block;
  }
}
// This navlink control MUSt not be shown
#navlink-control{
  display: none;
  user-select: none;

  // The Navlink control is checked by clicking the .hamburger
  // This happens on small screens
  &:checked ~ .navbar-wrapper{
    // Expand the .hamburger and force the navlins wrapper to the next line/row
    .hamburger{
      flex-basis: 35%;
      text-align: right;
    }
    // Since the navlink wrapper is on new row, 
    // set it to take up the entire width
    .navlinks{
      display: block;
      width: 100%;
        .navlink{
          display: block;
        }
    }
        
  } 
}

/********************************************************
*************STOP NAVBAR *******************************
****************************************************************/
/********************************************************
*************START BANNER *******************************
****************************************************************/

.page-header{
  background-color: $primary-color;
  padding: 3rem 0rem;
  width: 100%;
  display: block;

}
.banner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  column-gap: .8rem;
  @media screen and (max-width: $mobile-breakpoint){
    &{
      display: block;
    }
  }
}
.banner-caption{
  width: 50%;
  color: $light-color;
  p{
    font-size: .8rem;
    color: $light-color;
  }
  @media screen and (max-width: $mobile-breakpoint){
    &{
      display: block;
      width: 100%;
    }
  }
}
.banner-hero{
  
  color: $light-color;
  background-color: $primary-color;
  opacity: .4;
  background-image: url(https://picsum.photos/450/900);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  h1{
    z-index: 10;
    font-size: 3rem;
    color: $light-color;
    text-align: center;
    border: 5px solid #673ab7;
  }
  @media screen and (max-width: $mobile-breakpoint){
    &{
      background-size: cover;
      height: 16rem;
    }
  }
}
.banner-cta{
  margin-top: 2rem;
  line-height: 2.5;
  display: block;
  width: 100%;

  a{
    &:first-of-type{
      border: 1px solid $light-color;
      margin-right: 1.5rem;
    }
    @media screen and (max-width: $tablet-breakpoint){
      &{
        display: block;
        width: 100%;
        padding: .5rem;
        margin-bottom: 1rem;
      }
    }
  }

  
}
/*****************
*************STOP BANNER *******************************
****************************************************************/

/********************************************************
************* START PRODUCT CARD *******************************
****************************************************************/
// Product Card
.card-cta{
  width: 100%;
  padding: .75rem 0rem;
  font-size: 1.25rem;
  text-align: center;

  &:hover{
    opacity: .8;
  }
}
.product-card{
  display: block;
  width: 100%;
  padding: .5rem;
  background-color: $light-color;
  color: $dark-color;
  transition: transform .5s ease;

  &:hover{
    transform: translateY(.25rem);
  }

  .product-card-image{
    text-align: center;
    width: 100%;
    max-height: 8.7rem;
    display: block;

  }

  .product-title{
    display: block;
    // text-align: center;
    // padding: .5rem 0rem;
    margin:  auto;
    font-size: 1.2rem;
    font-weight: 400;

  }

  .product-card-rating{
    display: block;
    margin: auto;
    text-align: left;
    padding: .25rem 0rem;
  }

  .product-card-cta{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    .buy-now-cta{
      @extend .card-cta;
      background-color: $primary-color;
      color: $light-color;
    }
    .add-cart-cta{
      @extend .card-cta;
      background-color: $dark-color;
      color: $light-color;
    }

  }
}
/********************************************************
************* START PRODUCT CARD*******************************
****************************************************************/
table.table.cart-table{
  display: block;
  width: 100%;
  border-collapse: collapse;

  tr{
    vertical-align: middle;
  }

  th, td{
    height: 1.2rem;
    padding: 1rem;
  }
}
/********************************************************
************* START LOGIN *******************************
****************************************************************/
#signup-form, #login-form{
  width: 80%;
}

#signup-btn, #login-btn{
  padding: 1rem 1.75rem;
  text-align: center;
  // color: $light-color;
  // background-color: $primary-color;
  border-radius: 5px;
  margin-bottom: 1.75rem;

}
/********************************************************
************* STOP LOGIN *******************************
****************************************************************/

/********************************************************
************* STOP CART *******************************
****************************************************************/
.cart-order-form{
  float: right;
  
}

.cart-order-btn{
  padding: 1rem 1.5rem;
  background-color: $primary-color;
  color: $light-color;
  font-size: 1.1rem;
  font-weight: bolder;
  text-align: center;
  border-radius: 5px;
}

   // Modal
    .modal.show{
      display: block;
    }
    .modal{
      display: none;
      position: fixed;
      top: 0rem;
      left: 0rem;
      width: 100%;
      height: 100%;
      background-color: $dark-color;
      // opacity: .7;
      z-index: 99;
      overflow: scroll;
    }
    .modal-close{
      float: right;
      background-color: $primary-color;
      color: $light-color;
      font-weight: 700;
      padding: .25rem;
      cursor: pointer;
    }
    .modal-close::after{
      display: block;
      content: "";
      clear: both;
    }
    .modal-container{
      width: 85%;
      display: block;
      margin: 5rem auto;
      background-color: $light-color;
      color: $dark-color;
      padding: 1.25rem;
    }
    .modal-header{
      padding: 1rem .5rem;
      text-align: left;
      font-size: 1.2rem;
      font-weight: 700;
      border-bottom: 1px solid $dark-color;
      box-shadow: 0px 2px 3px $primary-color;
    }
    .modal-body{
      margin: 1rem auto;
      text-align: left;
      font-size: 1rem;
    }
    .modal-footer{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;
      

    }



// Authenticaed user 
    .auth-container{
       display: block;
       width: 100%;
       text-align: left;
       background-color: $light-color;
       color: $dark-color;
     }
     #auth-sidebar-control{
       display: none;
     }
     #auth-sidebar-control:checked ~ .auth-sidebar {
       left: 0rem;
     }
     #auth-sidebar-control:checked ~ .auth-sidebar-handle {
       opacity: 0;
       user-select: none;
     }
     .auth-sidebar-handle{
       position: absolute;
       top: 3.5rem;
       left: 2rem;
       cursor: pointer;
     }
     #auth-sidebar-control:checked ~ .auth-main {
       margin-left: $auth-sidebar-width;
     }
     #auth-sidebar-control:checked ~ .auth-main .auth-navbar {
       margin-left: 0rem;
       padding-left: .25rem;
     }
     .auth-sidebar{
       position: fixed;
       left: $auth-sidebar-width-alt;
       top: 0rem;
       height: 100%;
       width: $auth-sidebar-width;
       background-color: $primary-color;
       color: $light-color;
       transition: left .6s ease-in-out;       
     }
     .auth-sidebar-close{
       position: absolute;
       top: 0rem;
       right: 0rem;
       padding: .2rem;
       width: 1.02rem;
       height: 1.02rem;
      //  color: $primary-color;
      //  background-color: $light-color;
       cursor: pointer;
     }
     .sidebar-header{
       line-height: 4rem;
       font-size: 1.2rem;
       font-weight: bolder;
       background-color: $primary-color;
      //  opacity: .8;
       color: $light-color;
       text-align: center; 
       a{
         color: $light-color;
       }        
     }
     .sidebar-name{
       font-size: 1.75rem;
     }
    .auth-sidebar .sidebar-actions{
      margin-top: 1.75rem;
    }
    .auth-sidebar .sidebar-actions li{
     text-align: center;
     margin: auto;
     display: block;
     width: 100%;
     transition: padding .8s ease-in;
    }
    .auth-sidebar .sidebar-actions li:hover{
      padding-left: 2.5rem;
    }
    .auth-sidebar .sidebar-actions li .auth-sidebar-link{
      line-height: 1.8rem;
      width: 100%;
      height: 100%;
      display: block;
      margin: auto;
      text-align: left;
      padding: .5rem 0rem .5rem 1.25rem;
      border-bottom: 1px solid $dark-color;
      border-top: 1px solid $primary-color;
      color: $light-color;
      text-decoration: none;
      cursor: pointer;
    }
    .auth-sidebar .sidebar-actions li .auth-sidebar-link .fa{
      margin-right: .5rem;
      text-align: left;
    }

    .auth-main{
      margin: 0rem;
      transition: margin .6s ease-in-out;
    }
    .auth-navbar{
      margin-left: 4rem;
      line-height: 4rem;
      transition: margin .6s ease-in-out;
    }
    .auth-wrapper{
      width: 85%;
      display: block;
      margin: auto;
      text-align: center;
      padding-top: 1.5rem;
      overflow-x: auto;
    }


// Tables
.editable{
  background-color: $primary-color;
  color: $light-color;
}
.table{
  width: 100%;
  
}
thead{
  font-weight: bolder;
}
th{
  background-color: $primary-color;
  color: $light-color;
}
tr:hover{
  background-color: #ddd;
}
tr:nth-child(even){
  background-color: #CCC;
}
th{
  height: 2.5rem;
  text-align: left;
}
td{
  vertical-align: middle;
}
th, td{
  padding: 1rem;
  text-align: left;
  border-bottom: 1ps solid #ddd;
}